
$page-pixels-per-inch: 96px / 1in;
$page-width: 8.5in;
$page-height: 11in;

$page-margin-lr: 0.25in;
$page-margin-tb: 0.25in;



$content-width: $page-width - (2 * $page-margin-lr);

$day-column-width: $content-width / 7.0 * $page-pixels-per-inch;

$CalendarDayHeaderHeight: 12pt;
$CalendarDayBodyHeight: 86pt;
$CalendarDayFooterHeight: 12pt;
$CalendarNoteHeight: $CalendarDayHeaderHeight + $CalendarDayBodyHeight + $CalendarDayFooterHeight + 18pt;

.page-assets {

  @media screen {
    display: none;
  }
}

@page{
    size: $page-width $page-height portrait;
    margin-top: $page-margin-tb;
    margin-left: $page-margin-lr;
    margin-right: $page-margin-lr;
    margin-bottom: $page-margin-tb;
    padding: 0;
    marks: crop cross;
}

@page Intro{
  @top-left{
    font-size: 9pt;
    content: flow(TopLeftContent);
  }
  @top-right{
    content: flow(TopRightContent);
  }
  @bottom-left{
    content: flow(BottomLeftContent);
  }
  @bottom-right{
    font-size: 9pt;
    content: counter(page);
  }
}

@page months{
  @top{ 
    content: string(page-header-top);
    font-family: arial;
    font-size: 16pt;
    font-weight: bold;
  }
  @top-left{
    content: flow(TopLeftContent);
  }
  @top-right{
    content: flow(TopRightContent);
    text-align: right;
    vertical-align: middle;
  }
  @bottom-left{
    content: flow(BottomLeftContent);
  }
  @bottom-right{
    content: counter(page);
  }
}

@page responses{

  @top{ 
    content: string(page-header-top);
    font-family: arial;
    font-size: 16pt;
    font-weight: bold;
  }

  @top-left{
    content: flow(TopLeftContent);
  }
  @top-right{
    content: "" flow(TopRightContent);
  }
  @bottom-left{
    content: flow(BottomLeftContent);
  }
  @bottom-right{
    content: counter(page);
  }
}

#top-left-content {
  margin-left: 2in;
  flow: static(TopLeftContent);
}

#top-right-content {
  width: 100%;
  text-align: right;
  vertical-align: top;
  flow: static(TopRightContent);
}

#bottom-left-content {
  flow: static(BottomLeftContent);
}

#bottom-right-content {
  text-align: right;
  flow: static(BottomRightContent);
}


.DisclaimerPage {

  position: relative;
  width: 100%;
  height: 10in;
  
  > div {
    position: absolute;
    top: 5in;
    width: 100%;
  }

  &-Address {
    p {
      margin-bottom: 3 pt;
      &:last-child {
        margin-bottom: 0pt;
      }
    }
  }

  &-Copyright {
    margin-top: 9pt;
  }
} 




@import "node_modules/bulma/bulma";


.PageBreakBefore {
    page-break-before: always;
 }
 .PageBreakAfter {
    page-break-after: always;
 }

 .page {
    border: 3pt;
    border-style: dotted;
    width: $content-width;
    height: $page-height - (2 * $page-margin-tb);
 }


.is-2-print {
    background-color: red;
}

 @media screen {
    .is-2-print {
        max-width: 1in;
        background-color: green;
    }
}

 @media print {
 .is-2-print {
     max-width: 1in * $page-pixels-per-inch;
     background-color: blue;
 }
}

.Intro {

  page-break-before: always;

  &-Image {

    margin: 6pt;

    .PictureContainer {

      padding: 1in;
      text-align: center;

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }

  }

  &-Title {
    font-size: 24;
    font-weight: bold;
    margin-top: 12pt;
    margin-bottom: 12pt;
  }

  &-Body {
    margin-top: 6pt;
    p {
      margin-bottom: 6pt;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}



.is-one-seventh-print {
    max-width: $day-column-width;
}

.is-six-sevenths-print {
    max-width: 6 * $day-column-width;
}

.day-column {
    display: block;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25rem;
    max-width: $day-column-width;
    min-width: $day-column-width;

}

.day-body {
    height: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;

}

.index-statement:nth-child(even) {background: #CCC}
.index-statement:nth-child(odd) {background: #FFF}

.is-marginless {
    margin: 0;
}

.cal-content {
    font-size: 0.7rem;
}

.HowTo {
    page: howto;
    counter-reset: page 2
}

.Responses {
  page: respones;

  &-Title {
    font-size: 1.2em;
    margin-bottom: 6pt;
    font-weight: bold;
    text-align: left;
    color: #003399;
    padding: 0;


  }

  &-Blurb {
    margin-top: 24pt;
    margin-bottom: 24pt;
  }
}

.ResponseGroup {

  page-break-after: always;
  //string-set: page-header-top attr(group);


  &-Title {
    font-size: 1.2em;
    margin-bottom: 6pt;
    font-weight: bold;
    text-align: left;
    color: #003399;
    padding: 0;    
  }


  
}



.Calendar-Columns {
    @extend .columns;
    flex-wrap: wrap;

}


.Calendar-Column {
    @extend .column;
    flex-grow: 0;
    flex-shrink:0;

    border-width: 1pt;
    border-color: black;
    border-style: solid;
    border-radius: 5%;

    width: $day-column-width;
    
 
}

/*
.Calendar-Day {
    min-width: $day-column-width;
    max-width: $day-column-width;

    background-color: whitesmoke;

    &-Name {
        text-align: center;
        min-width: $day-column-width;
        max-width: $day-column-width;
    }

    &-Header {
        height: 1rem;
        font-weight: bold;
    }

    &-Body {
        height: 6rem;
    }

    &-Footer {
        height: 1rem;
    }
}

*/
/***************************************/



.MyContainer {
    position: relative;
}
.MyColumn {
  margin: .5rem;
}

.MyColumns {
    display: flex;
   padding: .5rem;
}

.MyColumnsWrapped {
    display: flex;
    flex-wrap: wrap;  
}

.MyRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .5rem;
}

.MyRow {
  width: 100%;  
  margin: .5rem;
  height:100%;
}

.Index {
  
  font-family: arial;
  font-size: 8pt;
  margin:.25in;
  width: $page-width;

  position: relative;
  
  &-NavBar {
    @extend .MyColumns;
    
    font-size: 10pt;
    min-width: $content-width;
      
      &-Previous, &-Next {
        max-width: 8rem;
        text-align: center!important;
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink:0;
        padding: .75rem;
        background-color: lightgreen;
        color: white;

      }
  
    &-Breadcrumb {
        display: block;
        flex-basis: 0;
        flex-grow: 7;
        flex-shrink:0;
        padding: .75rem;     
        min-width: $content-width;;
        background-color: lightgreen;
        
    }

    &-Title {

      display: block;
      flex-basis: 0;
      flex-grow: 7;
      flex-shrink:0;
      padding: .75rem;     
      min-width: $content-width;;   
      text-align: center;  
      background-color: $primary;
      

      
    }
 
      
  }
  
  &-Statement {
  
    &-Container {
      position: relative;
      width: 100%;
    }
  
    &-Columns {
      display: flex;
      flex-wrap: wrap;  
      justify-content: space-between;
    }

    &-Columns-Column {

      flex-grow: 1;
      flex-shrink: 0;
      margin: .5rem;
      
      &-Content{
        @extend .content;
        min-width: $content-width * .48;
        max-width: $content-width * .48;
        padding: .5rem;
      }

    }

    &-Subtitle {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: .25rem;
    }

  }
}

.TagCloud {
 
  margin-top: 1 rem;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
  
  
  &-Header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .25rem;
  }
  
  
  
}


/*
.Calendar {
  @extend .container;
  page: months;
  page-break-after: always;
  width: 7 * $day-column-width;
  //margin: .25in;




}

.Calendar-Header {
  font-size: 24pt;
  text-align: center;
  string-set: page-header-top content();

  @media print {
    display: none;
  }
}
*/

.Calendar {
  @extend .container;
  page-break-before: always;
  page: months;
  string-set: page-header-top attr(month);
  font-family: arial;
  font-size: 8pt;
  width: 7 * $day-column-width;
  
  @media print {
    margin-top: 24pt;
  }
  @media screen {
    margin-top: 32pt;
  }

  &-Container {
    position: relative;
    width: 7 * $day-column-width;
    margin: 0.25in;
  }

  &-Header {
    font-size: 24pt;
    text-align: center;
    margin-bottom: 6pt;
    

    @media print {
      display: none; 
    }
  }
  
  &-Footer {
    margin-top: 1rem;
    
  }

  &-Columns {
    display: flex;
    flex-wrap: wrap;
  }

  &-Column {
    flex-grow: 0;
    flex-shrink: 0;

    border-width: 1pt;
    border-color: black;
    border-style: solid;
    border-radius: 5%;

    width: $day-column-width;
  }
  
  &-DayName {
    flex-grow: 0;
    flex-shrink: 0;

    border-style: none;
    border-width: 0pt;

    min-width: $day-column-width;
    max-width: $day-column-width;
    padding-left: 6pt;
    padding-right: 6pt;

    &-Name {
      min-height: 12pt;
      max-height: 12pt;  
      font-weight: bold;    
      text-align: center;

    }
  }



  &-Note {
    flex-grow: 0;
    flex-shrink: 0;

    background-color: lightblue;
    
    font-family: arial;
    //font-weight: bold;
    font-size: 8pt;

    border-width: 1pt;
    border-color: black;
    border-style: solid;
    border-radius: 5%;

    min-width: $day-column-width;
    max-width: $day-column-width;
    min-height: $CalendarNoteHeight;
    max-height: $CalendarNoteHeight;
    padding: 6pt;
  }

  &-Day {
    flex-grow: 0;
    flex-shrink: 0;

    background-color: whitesmoke;
    
    border-width: 1pt;
    border-color: black;
    border-style: solid;
    border-radius: 5%;

    min-width: $day-column-width;
    max-width: $day-column-width;
    padding: 6pt;
    


    &-Header {
      font-weight: bold;
      min-height: $CalendarDayHeaderHeight;
      max-height: $CalendarDayHeaderHeight;
      padding-bottom:3pt;
    }

    &-Body {
      min-height: $CalendarDayBodyHeight;
      max-height: $CalendarDayBodyHeight;    
      overflow: hidden;  
    }

    &-Footer {
      padding-top: 3pt;
      min-height: 1$CalendarDayFooterHeight;
      max-height: $CalendarDayFooterHeight;
      font-weight: bold;

//      padding-bottom: 17pt;
    }    
    
    &-Notes {
      height: 100%;
    }
  }  
  
}

.ruled {
  width:100%;
  height:100%;
  
  background: repeating-linear-gradient(#fff, #fff 20px, #000 20px, #000 22px);
  
  margin:0 auto;
  //background-size: 100% 30px;
  position:relative;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  overflow:hidden;
}

.ToC {

    @extend .container;
    @extend .page;

    margin: $page-margin-lr;
    
    &-Header {
        @extend .title;
    }

    &-Container
    {
        position:relative;;
        width: 100%;
    }
}


.Subcategories {
  margin: 0;
}

.Subcategory {
  margin-left: 1rem;
  &-Header {
    font-weight: bold;
  }
}

.Topics {
  margin-left: 1rem;
}

.Topic {
  margin: 1rem;
  &-Header {
    font-weight: bold;
  }
}

.Statement {
  margin: 1rem;
  border-width: 1pt;
  border-style: solid;
  padding: .5rem;
}

td {
  page-break-inside: avoid;
}

.PictureContainer{
  padding: 12pt;
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto;

  > img {
    object-fit: cover;
  }
}

.TitlePage {

  &-Image {
    text-align: center;
    margin:auto;

    .PictureContainer {
      text-align: center;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }


}



.Page {

  @media screen {
     display: none;

  }

  &:target {
    display: block;
  }

  .Pager {
    @media print {
      display: none;
    }
  }

}